<?xml version="1.0"?>
<robot name="ball">
  <link name="ball">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/> #0.005
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.01"/>#0.005 #2ball: 0.02
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0002"/>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.000001" iyz="0.0" izz="0.000001"/>
    </inertial>
  </link>
</robot>
